.app-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 1rem;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 4px;
  font-size: 24px;
}

th {
  background-color: rgb(123, 104, 238);
}

td {
  background-color: rgb(205, 235, 253);
}

form {
  display: flex;
  gap: 3px;
}

form td:last-child {
  display: flex;
  justify-content: space-evenly;
}

form * {
  font-size: 15px;
}